
body { 
    background-color: rgb(0, 0, 0);
color: white;
font-family: 'Advent Pro', sans-serif;

} 

a { 
    color: white;
}

#box { 
border-width: 1px;
border-style: solid;
border-color: white;}

    
